.completedContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #d7d8da;
  font-weight: 500;

  padding-bottom: 1rem;
  margin: 3.5rem 0;
}

.completedContainer span:first-child {
  font-size: 1.25rem;
}

.completedContainer span:last-child {
  font-size: 1.5rem;
}
