.experienceBar {
  display: flex;
  align-items: center;
}

.experienceBar > div {
  position: relative;

  height: 4px;

  flex: 1;

  border-radius: 4px;
  background: var(--gray-line);

  margin: 0 1.5rem;
}

.experienceBar > div > div {
  height: 4px;

  border-radius: 4px;
  background: var(--green);
}

span.currentExperience {
  position: absolute;
  top: 12px;

  transform: translateX(-50%);
}
