.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(242, 243, 245, 0.8);
}

.modalContainer {
  position: relative;

  width: 100%;
  max-width: 400px;

  border-radius: 5px;

  background: var(--white);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);

  text-align: center;

  padding: 2rem 3rem;
}

.modalContainer header {
  background: url('/icons/levelup.svg') no-repeat center;
  background-size: contain;

  color: var(--blue);
  font-size: 8.75rem;
  font-weight: 600;
}

.modalContainer strong {
  color: var(--title);
  font-size: 2.25rem;
}

.modalContainer p {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.modalContainer button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  border: 0;
  background: transparent;

  font-size: 0;
}
