.profileContainer {
  display: flex;
  align-items: center;
}

.profileContainer img {
  width: 5.5rem;
  height: 5.5rem;

  border-radius: 50%;
}

.profileContainer div {
  margin-left: 1.5rem;
}

.profileContainer div strong {
  color: var(--title);
  font-size: 1.5rem;
  font-weight: 600;
}

.profileContainer div p {
  margin-top: 0.5rem;
}

.profileContainer div p img {
  width: 1rem;
  height: 1rem;

  margin-right: 0.5rem;
}
